@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #ffff;
    background-color: #1C1B22;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verde{
    color: #00FE9D;
}
header{
    width: 84.722vw;
    margin-top: 45px;
    margin-bottom: 124px;
    display: flex;
    justify-content: space-between;
}
nav ul{
    width: 31.25vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #ffff;
}
nav a:hover{
    color: #00FE9D;
    font-weight: 700;
}
main{
    width: 84.722vw;
    display: flex;
    flex-direction: column;
    background-image: url("img/perfil.png");
}
.capa{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.textoCapa {
    width: 40vw; 
}
.textoCapa h1{
    font-size: 60px;
    font-weight: 700;
}
.textoCapa p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
}
.textoCapa a{
    font-size: 24px;
    font-weight: 600;
    color: #00FE9D;
    border: #00FE9D solid 1px;
    text-decoration: none;
    padding: 15px;
    border-radius: 100px;
}
.textoCapa a:hover{
    font-weight: 800;
    background-color: #28272C;
}

.imagem{
    position: relative;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: flutuar;

    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.imagem::before{
    content: " ";
    position: absolute;
    width: 35vw;
    height: 35vw;
    background-color: #00FE9D;
    background-image: linear-gradient(#d400fe, #00FE9D);
    animation: border_animate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes border_animate{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes flutuar{
    0%{
        transform: translate(0,0px);
    }
    50%{
        transform: translate(-10px,10px);
    }
    100%{
        transform: translate(-0,-0px);
    }
}
.imagem::after {
    content: " ";
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url(../img/perfil.jpg);
    inset: 5px;
    border-radius: inherit;
}


.about{
    width: 100%;
    background-color: #28272C;
    padding: 55px;
    border-radius: 15px;
    margin-bottom: 60px;
}
.about h1{
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 600;
}
.about p{
    margin-bottom: 35px;
    font-size: 24px;
}
.about .info{
    display: flex;
    justify-content: space-between;
}
.about .info ul{
    list-style: none;
}
.about .info li{
    margin-bottom: 35px;
    font-size: 24px;
}
.skills{
    padding: 55px;
}
.skills  h1{
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 600;
}
.skills ul{
 width: 100%;
}
.skills li{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.skills li p{
    margin-left: 10px;
    color: white;
}

.barra {
    background-image:  linear-gradient(-90deg,#d400fe, #00FE9D);
    height: 20px;
    border-radius: 0 10px 10px 0;
    z-index: 1; 
}

.barrafundo{
    width: 100%;
    height: 20px;
    background-color: #28272C;
    z-index: -1; 
}
.coluna{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.projects{
    margin-top: 100px;
    width: 100%;
    background-color: #28272C;
    border-radius: 15px;
    margin-bottom: 100px;
    
}
.carousel {
    position: relative;
    width: 100%;
    padding: 55px;
    display: flex;
}

.project {
    width: 100%;
    height: 27vw;
    display: none;
    justify-content: space-between;
}
.project .text{
    display: flex;
    width: 41.667vw;
    flex-direction: column;
}

.project h1{
    font-size: 35px;
    font-weight: 600;
}
.project .numero{
    font-size: 64px;
    font-weight: 400;
}
.project .project_name{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 15px;
}
.project .descricao{
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 10px;
}
.project .tags {
    color: #00FE9D;
    margin-bottom: 5px;
}
.project .link{
    text-decoration: none;
    color: #d400fe;
}
.project .link:hover{
    color: #8f05aa;
}
.project.active {
    display: flex;
}

.project img {
    width: 31.875vw;
    height: 24.792vw;
    border-radius: 10px;
    object-fit: cover;
}

.carousel button {
    position: absolute;
    background-color: #00FE9D;
    color: #1C1B22;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}
.carousel button:hover{
    background-color: #02ca7e;
}

.voltar {
    right: 105px;
    top:470px;
}

.passar {
    right: 55px;
    top:470px;
}

.contact{
    width: 100%;
}

.contact form{
    width: 49vw;
    padding: 55px;
    background-color: #28272C;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.contact form h1{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #00FE9D;
}
.contact form p{
    font-size: 24px;
    text-align: justify;
    margin-bottom: 30px;
}
.contact form input{
    background-color: #1C1B22;
    margin-bottom: 30px;
    color: white;
    border: none;
    padding: 9px;
    font-size: 20px;
    height: 3vw;
}
.metade{
    width: 49%;
}
textarea{
    background-color: #1C1B22;
    margin-bottom: 30px;
    color: white;
    border: none;
    padding: 9px;
    font-size: 20px;
    height: 14vw;
}
.contato{
    width: 29.167vw;
}
.contato p{
    font-size: 24px;
    margin-bottom: 24px;
}
iframe{
    width: 29.167vw;
    border-radius: 15px;
}

footer{
    margin-top: 100px;
    background-color: #28272C;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
footer p{
    color: #00FE9D;
    font-size: 24px;
}

